/* reset */
button,
fieldset,
input {
  all: unset;
}

.LabelRoot {
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
  color: white;
}

.Input {
  width: 200px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  height: 35px;
  font-size: 15px;
  line-height: 1;
  color: white;
  background-color: var(--black-a5);
  box-shadow: 0 0 0 1px var(--black-a9);
}
.Input:focus {
  box-shadow: 0 0 0 2px black;
}
.Input::selection {
  background-color: var(--black-a9);
  color: white;
}

.SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  background-color: white;
  color: var(--violet-11);
  box-shadow: 0 2px 10px var(--black-a7);
}
.SelectTrigger:hover {
  background-color: var(--mauve-3);
}
.SelectTrigger:focus {
  box-shadow: 0 0 0 2px black;
}
.SelectTrigger[data-placeholder] {
  color: var(--violet-9);
}

.SelectIcon {
  color: Var(--violet-11);
}

.SelectContent {
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.SelectViewport {
  padding: 5px;
}

.SelectItem {
  font-size: 13px;
  line-height: 1;
  color: var(--violet-11);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
}
.SelectItem[data-disabled] {
  color: var(--mauve-8);
  pointer-events: none;
}
.SelectItem[data-highlighted] {
  outline: none;
  background-color: var(--violet-9);
  color: var(--violet-1);
}

.SelectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--mauve-11);
}

.SelectSeparator {
  height: 1px;
  background-color: var(--violet-6);
  margin: 5px;
}

.SelectItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: var(--violet-11);
  cursor: default;
}

.SwitchRoot {
  width: 42px;
  height: 25px;
  background-color: var(--black-a9);
  border-radius: 9999px;
  position: relative;
  box-shadow: 0 2px 10px var(--black-a7);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.SwitchRoot:focus {
  box-shadow: 0 0 0 2px black;
}
.SwitchRoot[data-state='checked'] {
  background-color: black;
}

.SwitchThumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 2px 2px var(--black-a7);
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
}
.SwitchThumb[data-state='checked'] {
  transform: translateX(19px);
}

.Label {
  color: white;
  font-size: 15px;
  line-height: 1;
}

.DialogOverlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 20px;
  border-right: 0.5px solid var(--gray-7);
  display: flex;
  flex-direction: column;
}

.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  font-weight: 500;
  color: var(--mauve-12);
  font-size: 17px;
}

.DialogDescription {
  margin: 10px 0 20px;
  color: var(--mauve-11);
  font-size: 15px;
  line-height: 1.5;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
}
.Button.violet {
  background-color: white;
  color: var(--violet-11);
  box-shadow: 0 2px 10px var(--black-a7);
}
.Button.violet:hover {
  background-color: var(--mauve-3);
}
.Button.violet:focus {
  box-shadow: 0 0 0 2px black;
}
.Button.green {
  background-color: var(--green-4);
  color: var(--green-11);
}
.Button.green:hover {
  background-color: var(--green-5);
}
.Button.green:focus {
  box-shadow: 0 0 0 2px var(--green-7);
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet-11);
  position: absolute;
  top: 10px;
  right: 10px;
}
.IconButton:hover {
  background-color: var(--violet-4);
}
.IconButton:focus {
  box-shadow: 0 0 0 2px var(--violet-7);
}

.Fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
}

.Label {
  font-size: 15px;
  color: var(--violet-11);
  width: 90px;
  text-align: right;
}

.Input {
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  color: var(--violet-11);
  box-shadow: 0 0 0 1px var(--violet-7);
  height: 35px;
}
.Input:focus {
  box-shadow: 0 0 0 2px var(--violet-8);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.dark, .dark-theme {
  --green-1: #000;
  --green-2: #0c1510;
  --green-3: #11291d;
  --green-4: #133827;
  --green-5: #1c4632;
  --green-6: #27553f;
  --green-7: #32664d;
  --green-8: #3c7c5d;
  --green-9: #52b788;
  --green-10: #45ab7d;
  --green-11: #6cd0a0;
  --green-12: #b5efd0;

  --green-a1: #00000000;
  --green-a2: #92ffc315;
  --green-a3: #6affb529;
  --green-a4: #57ffb238;
  --green-a5: #66ffb746;
  --green-a6: #75ffbd55;
  --green-a7: #7dffc166;
  --green-a8: #7cffc07c;
  --green-a9: #72ffbeb7;
  --green-a10: #67ffbbab;
  --green-a11: #85ffc4d0;
  --green-a12: #c1ffdeef;

  --green-contrast: #fff;
  --green-surface: #182a2080;
  --green-indicator: #52b788;
  --green-track: #52b788;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --green-1: oklch(0% 0.012 160.9);
      --green-2: oklch(18.4% 0.016 160.9);
      --green-3: oklch(25.7% 0.038 160.9);
      --green-4: oklch(30.9% 0.053 160.9);
      --green-5: oklch(35.8% 0.059 160.9);
      --green-6: oklch(40.9% 0.064 160.9);
      --green-7: oklch(46.7% 0.071 160.9);
      --green-8: oklch(53.4% 0.082 160.9);
      --green-9: oklch(70.6% 0.118 160.9);
      --green-10: oklch(66.9% 0.118 160.9);
      --green-11: oklch(78.4% 0.118 160.9);
      --green-12: oklch(90.3% 0.072 160.9);

      --green-a1: color(display-p3 0 0 0 / 0);
      --green-a2: color(display-p3 0.663 0.996 0.757 / 0.083);
      --green-a3: color(display-p3 0.576 1 0.753 / 0.157);
      --green-a4: color(display-p3 0.529 1 0.729 / 0.216);
      --green-a5: color(display-p3 0.565 1 0.741 / 0.271);
      --green-a6: color(display-p3 0.608 1 0.773 / 0.33);
      --green-a7: color(display-p3 0.624 1 0.78 / 0.397);
      --green-a8: color(display-p3 0.62 1 0.773 / 0.483);
      --green-a9: color(display-p3 0.604 1 0.769 / 0.71);
      --green-a10: color(display-p3 0.58 1 0.757 / 0.663);
      --green-a11: color(display-p3 0.647 1 0.792 / 0.808);
      --green-a12: color(display-p3 0.816 1 0.886 / 0.93);

      --green-contrast: #fff;
      --green-surface: color(display-p3 0.11 0.157 0.125 / 0.5);
      --green-indicator: oklch(70.6% 0.118 160.9);
      --green-track: oklch(70.6% 0.118 160.9);
    }
  }
}

.dark, .dark-theme {
  --gray-1: #111113;
  --gray-2: #19191b;
  --gray-3: #222325;
  --gray-4: #292a2e;
  --gray-5: #303136;
  --gray-6: #393a40;
  --gray-7: #46484f;
  --gray-8: #5f606a;
  --gray-9: #6c6e79;
  --gray-10: #797b86;
  --gray-11: #b2b3bd;
  --gray-12: #eeeef0;

  --gray-a1: #1111bb03;
  --gray-a2: #cbcbf90b;
  --gray-a3: #d6e2f916;
  --gray-a4: #d1d9f920;
  --gray-a5: #d7ddfd28;
  --gray-a6: #d9defc33;
  --gray-a7: #dae2fd43;
  --gray-a8: #e0e3fd60;
  --gray-a9: #e0e4fd70;
  --gray-a10: #e3e7fd7e;
  --gray-a11: #eff0feb9;
  --gray-a12: #fdfdffef;

  --gray-contrast: #FFFFFF;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #6c6e79;
  --gray-track: #6c6e79;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --gray-1: oklch(17.8% 0.004 277.7);
      --gray-2: oklch(21.5% 0.004 277.7);
      --gray-3: oklch(25.5% 0.005 277.7);
      --gray-4: oklch(28.4% 0.008 277.7);
      --gray-5: oklch(31.4% 0.009 277.7);
      --gray-6: oklch(35% 0.01 277.7);
      --gray-7: oklch(40.2% 0.012 277.7);
      --gray-8: oklch(49.2% 0.016 277.7);
      --gray-9: oklch(54% 0.017 277.7);
      --gray-10: oklch(58.6% 0.016 277.7);
      --gray-11: oklch(77% 0.014 277.7);
      --gray-12: oklch(94.9% 0.003 277.7);

      --gray-a1: color(display-p3 0.067 0.067 0.941 / 0.009);
      --gray-a2: color(display-p3 0.8 0.8 0.98 / 0.043);
      --gray-a3: color(display-p3 0.851 0.898 0.988 / 0.085);
      --gray-a4: color(display-p3 0.839 0.871 1 / 0.122);
      --gray-a5: color(display-p3 0.847 0.875 1 / 0.156);
      --gray-a6: color(display-p3 0.878 0.898 1 / 0.194);
      --gray-a7: color(display-p3 0.875 0.906 0.996 / 0.257);
      --gray-a8: color(display-p3 0.894 0.906 1 / 0.37);
      --gray-a9: color(display-p3 0.89 0.91 1 / 0.433);
      --gray-a10: color(display-p3 0.902 0.918 1 / 0.488);
      --gray-a11: color(display-p3 0.945 0.949 1 / 0.719);
      --gray-a12: color(display-p3 0.992 0.992 1 / 0.937);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(54% 0.017 277.7);
      --gray-track: oklch(54% 0.017 277.7);
    }
  }
}

.dark, .dark-theme, :is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #111;
}
